.react-viewer-canvas {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1005;
}

.react-viewer-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $primary;
    opacity: .2;
    height: 100%;
    filter: alpha(opacity=50);
    z-index: 1000;
}