.youtube {
  background-image: linear-gradient(to top, rgba(253, 0, 0, 0.3) 0%, rgba(255, 0, 0, 0.8) 100%),
    url(../assets/youtube/youtubeBackground.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &--photo {
    max-width: 300px;
    max-height: 500px;
  }
  &--text {
    font-size: 100px;
    color: white;
  }
}
