html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #FFFFFF;
   background-image: url(images/custom-demo-image-oliver-pecker-364272-min-1.jpg);
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
   background-size: 100% 100%;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid4
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 5px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid4-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #F5F5F5;
   opacity: 0.58;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon1 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 18px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #1E90FF;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon2 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #000000;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon3
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon3 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #004BC0;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon4
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon4 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #7CFC00;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon5 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 30px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #00BFFF;
}
#wb_FontAwesomeIcon15
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon15:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon15
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon15 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_FontAwesomeIcon15:hover i
{
   color: #DC143C;
}
#wb_FontAwesomeIcon16
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon16:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon16
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon16 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_FontAwesomeIcon16:hover i
{
   color: #FF0000;
}
#wb_FontAwesomeIcon17
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon17:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon17
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon17 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 33px;
}
#wb_FontAwesomeIcon17:hover i
{
   color: #8FBC8F;
}
#wb_FontAwesomeIcon18
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon18:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon18
{
   height: 37px;
   width: 34px;
}
#FontAwesomeIcon18 i
{
   color: #8000FF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 33px;
}
#wb_FontAwesomeIcon18:hover i
{
   color: #C0C0C0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#Carousel1
{
   background-color: transparent;
   background-image: none;
   margin: 0;
}
#wb_Carousel1
{
   display: block;
   float: left;
   font-size: 0;
   top: 0 !important;
}
#Carousel1 .carousel-innerframe
{
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   height: 575px;
   width: 1200px;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span
{
   background: #FFFFFF;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0001.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url(images/201912121067329634807063710.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url(images/IMG_20150812_164315_035.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-4
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_133247_513.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-5
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_131733_501.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-6
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0004.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-7
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0000.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-8
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_131714_178.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-9
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_133232_684.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-10
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_132612_257.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-11
{
   background-color: transparent;
   background-image: url(images/201912098804417089068890717.png);
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-12
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_133245_594.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-13
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_131710_378.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-14
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_135535_685.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-15
{
   background-color: transparent;
   background-image: url(images/IMG_20150807_132607_215.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-16
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0002.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
}
#Carousel1 .frame-17
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0001.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-18
{
   background-color: transparent;
   background-image: url(images/IMG-20161222-WA0003.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-19
{
   background-color: transparent;
   background-image: url(images/IMG_20180522_195934737.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-20
{
   background-color: transparent;
   background-image: url(images/83006535_2569832983066075_8174883907590684672_o.JPG);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-21
{
   background-color: transparent;
   background-image: url(images/83458526_1263045810752434_6953957282388377600_n.JPG);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-22
{
   background-color: transparent;
   background-image: url(images/IMG_0052.JPG);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-23
{
   background-color: transparent;
   background-image: url(images/202004146891010960939256114.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-24
{
   background-color: transparent;
   background-image: url(images/20200506786458115941010335.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: 100% 100%;
}
#Carousel1 .frame-25
{
   background-color: transparent;
   background-image: url(images/2020050218690967846557188.jpg);
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_Youtube2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Youtube2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Youtube2
{
   height: 37px;
   width: 34px;
}
#Youtube2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_Youtube2:hover i
{
   color: #FF0000;
}
#wb_Instagram_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Instagram_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Instagram_2
{
   height: 37px;
   width: 34px;
}
#Instagram_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_Instagram_2:hover i
{
   color: #DC143C;
}
#wb_Twitter_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Twitter_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Twitter_2
{
   height: 37px;
   width: 34px;
}
#Twitter_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 30px;
}
#wb_Twitter_2:hover i
{
   color: #00BFFF;
}
#wb_Whatsapp_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Whatsapp_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Whatsapp_2
{
   height: 37px;
   width: 34px;
}
#Whatsapp_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_Whatsapp_2:hover i
{
   color: #7CFC00;
}
#wb_Github_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Github_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Github_2
{
   height: 37px;
   width: 34px;
}
#Github_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_Github_2:hover i
{
   color: #000000;
}
#wb_Certiport_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Certiport_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Certiport_2
{
   height: 37px;
   width: 34px;
}
#Certiport_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 33px;
}
#wb_Certiport_2:hover i
{
   color: #C0C0C0;
}
#wb_Platzi_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Platzi_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Platzi_2
{
   height: 37px;
   width: 34px;
}
#Platzi_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 33px;
}
#wb_Platzi_2:hover i
{
   color: #8FBC8F;
}
#wb_LinkedIn_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_LinkedIn_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#LinkedIn_2
{
   height: 37px;
   width: 34px;
}
#LinkedIn_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 28px;
}
#wb_LinkedIn_2:hover i
{
   color: #004BC0;
}
#wb_Facebook_2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Facebook_2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#Facebook_2
{
   height: 37px;
   width: 34px;
}
#Facebook_2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 34px;
   line-height: 37px;
   vertical-align: middle;
   width: 18px;
}
#wb_Facebook_2:hover i
{
   color: #1E90FF;
}
#wb_LayoutGrid12
{
   clear: both;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid12
{
   box-sizing: border-box;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 5px 0px 5px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#LayoutGrid12 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid12 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 50%;
   max-width: 50%;
   -webkit-align-self: flex-start;
   align-self: flex-start;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid12 > .col-2 > .col-2-padding
{
   padding: 0px 10px 0px 10px;
}
@media (max-width: 480px)
{
#LayoutGrid12 > .col-1, #LayoutGrid12 > .col-2
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#LayoutGrid12-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #8000FF;
   opacity: 0.87;
}
