body {
    margin: 0px;
    font-family: 'Muli', sans-serif;    
}

.header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px 14px;
}

.header__menu:hover ul, ul:hover{
    display: block;
}

.header__menu li{
    margin: 10px 10px;
}

.header__menu li a{
    color: white;
    text-decoration: none;
}

.header__menu li a:hover{
    text-decoration: underline;
    color: aqua;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 60px;
}

.header__menu--profile p {
    margin-right: 0px;
    color: white;
}

.searcher {
    background-color: #21C08B;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;                
}

.search_title {
    font-size: 25px;
    color: white;                    
}

.input {                      
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 25px;
    width: 70%;
    padding: 0px 30px;
    height: 50px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;                            
}

.carousel {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    overflow: hidden;
    padding: 0px;
    position: relative;
    margin-top: 0px;    
}

.carousel__container {                
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 5px;
}

.carousel__container--title > h2{
    color: white;
    width: 100%;
}
.carousel-item {
    background-color: #21C08B;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;            
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
}

.carousel-item__image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    color: white;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px; 
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0;
    bottom: 0;
}

.carousel-item__details--title , .carousel-item__details--subtitle {
    margin-top: 3px;
    margin-bottom: 3px;            
}

.carousel-item__details:hover {
    opacity: 1;
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center; /*Alinear Vertical*/
    justify-content: center; /*Alinear horizontal*/
    flex-direction: column; /*Ubiquen de Arriba hacia Abajo*/
    padding: 0px 30px;
    min-height: calc(100vh - 200px); /*Por mas Grande que sea el alto siempre tiene un minimo (vh = view height "vista del usuario")*/
} 

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 30px 70px 30px;
    min-height: 500px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
} 

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register > a {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register > a:hover {
    text-decoration: underline;
}

.input__login {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.footer {
    background: linear-gradient(to top, #AB88FF, #AB88FF);  
    display: flex;
    align-items: center;
    height: 150px;
    width: 100%;    
}

.footer > a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer > a:hover {
    text-decoration: underline;
}

.register {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 300px);
    width: 100%;
}

.register__container {
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 500px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 30px 50px 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;          
}

.register__container--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input__register {
    background-color: transparent;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 2px solid white;
    margin-bottom: 30px;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: bold; 
    width: 100%;
}

.register__container--button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    margin: 10px 0px;
    height: 50px;
    font-family: 'Muli', sans-serif;
    font-weight: bold; 
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.register__container--form > div {
    margin-top: 70px;
}

.register__container--form > div > a {
    color: white;
    text-decoration: none;
}

.register__container--form > div > a:hover {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {

    .body {
        background-color: #AB88FF;
    }

    .header {
        height: 70px;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        height: 150px;
    }

    .login {
        min-height: auto;
    }

    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }  

    .login__container--social-media {
        margin-top: 10px;
    }

    .register {
        min-height: auto;
    }
    .register__container {
        background-color: transparent;
        border: none;
        padding: 0px;
    }
    .register__container > div {
        margin-top: 0px;
    }    
}
