
/*Fuente icono menu */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?kip25g');
    src:  url('../fonts/icomoon.eot?kip25g#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?kip25g') format('truetype'),
      url('../fonts/icomoon.woff?kip25g') format('woff'),
      url('../fonts/icomoon.svg?kip25g#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

 /* Termina stilo para fuente icono*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

body {
    margin: 0 auto;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.7) 100%), url(../assets/img/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /*Efecto Parallax*/
}

.header-container {
    display: flex;
    justify-content: space-between;    
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 10px;
}

.header-container::-webkit-scrollbar {
    background-color: #1089ff;
}

.icon-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 6;
    left: 7px;
    top: 7px;
    color: white;
    font-size: 30px;
}

.header-container-logo {    
    cursor: pointer;
    width: 160px;
    height: 40px;
    margin-top: 10px;
}

.logo-menu {
    display: none;
}

.header-container-logo {
    width: 200px;
}

.header-container-menu {
    font-size: 20px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 15px;
}

.header-container-menu a {
    margin-right: 15px;
}

.main-container-hero {    
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 150px;
    width: 100%;
}

.item {
    border: 1px solid white;
}

.text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    text-align: justify;
    padding-left: 100px;
}

.text h1 {
    font-size: 60px;
    text-align: center;
}

.text p {
    font-size: 32px;
    background: rgba(0,0,0,0.3);
    padding: 0px 10px;
    }

.search {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-end;
    border-radius: 25px;
    padding: 0px 0px 0px 15px;
    height: auto;
    background-color: white;
    border: 1px solid #eff0f2;
}

.search img {
    height: 100%;
    align-self: center;
}

.search input{
    height: 42px;
    width: auto;
    border-radius: 25px;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-left: 10px;
    font-size: 20px;
}

.search button {
    width: auto;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #203ae4;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.video {
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
    justify-self: center;
    width: 50vw;
    margin-top: 50px;
}

.video video {
    transform: scale(0.8);
}

.apps {
    grid-column: 2 / 3;
    grid-row: 2 / span 4;
    padding: 0px 100px;
    align-self: flex-end;
}

.apps img {
    margin: 0px 70px;
}
