
@media screen and (max-width: 1680px) {
   
    .hero-container {
        margin-left: 100px;
        margin-right: 150px;
        grid-template-columns: 60% 40%;
        grid-template-rows: 200px 270px 200px;
    }
   
    .hero-container-title {
        letter-spacing: normal;
        font-size: 58px;
        margin-top: 60px;
    }

    .hero-container-apps {
        padding: 0;
    }

    .hero-container-apps img {
        padding: 0px 1px;
        margin-right: 2px;
        margin-left: 2px;
        width: auto;
    }

    .hero-container-video video {
        transform: scale(0.7);
        margin-top: 10px;
    }

    .hero-container-search {
        margin-top: 0;
    }

}

@media screen and (max-width: 1024px) {
    .hero-container {
        margin-left: 50px;
        margin-right: 200px;
    }
   
    .hero-container-title {
        letter-spacing: normal;
        font-size: 58px;
        margin-top: 60px;
    }

    .hero-container-apps {
        justify-self: end;
    }

    .hero-container-search button {
        width: 150px;
    }

    .hero-container-search input {
        width: 150px;
    }
}

@media screen and (max-width: 828px) {
      
    .hero-container {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        margin: auto;
    }
    
    .hero-container-title {
        grid-row: 1 / 2;
        font-size: 48px;
    }
    
    .hero-container-video {
        grid-row: 2 / 3;
        grid-column: auto;
        margin: 0;
        justify-self: center;
    }

    .hero-container-description {
        grid-row: 3 / 4;
        font-size: 25px;
        padding: 0px 40px;
    }
    
    .hero-container-search {
        grid-row: 4 / 5;
    }

    .hero-container-search input {
        width: auto;
    }

    .hero-container-search button {
        width: auto;
    }

    .hero-container-apps {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) { 
    .icon-menu {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        cursor: pointer;
        background: rgba(24, 56, 231, 0.8);
    }
    
    .header-container-menu {
        position: fixed;
        display: flex;
        height: 100vh;
        width: 50vw;
        top: 0;
        left: -50vw;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: rgba(24, 56, 231, 0.8);
        z-index: 2;
        transition: .3s;
    }

    .header-container-menu a {
        font-size: 32px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .logo-menu {
        display: block;
        margin-top: 100px;
        margin-bottom: 50px;
        cursor: pointer;
    }

    .header-container {
        display: flex;
        justify-content:center;
    }

    .header-container-menu.is-active {
        left: 0vw;
    }

    .hero-container-video video {
        z-index: -1;
    }
}

@media screen and (max-width: 480px) {

    .hero-container-search {
        margin-top: 50px;
    }

    .header-container-menu a {
        font-size: 26px;
    }
}


@media screen and (max-width: 320px) {

    .hero-container {
        height: 30px;
    }

    .hero-container-title {
        padding: 40px 0px 0px;
        font-size: 32px;
    }

    .hero-container-video video {
        transform: scale(0.5);
    }

    .hero-container-description {
        font-size: 16px;
    }

    .hero-container-search input{
        width: 100px;
        font-size: 12px;
    }

    .hero-container-search button{
        width: 100px;
        font-size: 9px;
    }

    .hero-container-apps {
        padding: 35px 0px 0px;    
    }

    .hero-container-apps img {
        margin-right: 20px;
        margin-left: 20px;   
    }

    .header-container-menu a {
        font-size: 18px;
    }

}