body {
    margin: 0;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
    font-family: 'Piedra', cursive;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr 400px 1fr 1fr;
  }

  /* .item {
    border: 1px solid black;
  } */

  .title {
    grid-row: 1;
    justify-self: center;
    height: auto;
    margin-top: 20px;
    height: 70px;
    color: white;
    font-size: 60px;
  }

  .title-container p {
    margin: 0;
  }

  .gameboard {
    grid-row: 2;
    height: 100vh;
    width: 100vh;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }


  .container-level{
    grid-row: 3;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: 60px;
    width: 300px;
    height: 100px;
    margin-top: 20px;
  }
  
  .owner-container {
    grid-row: 4;
    justify-self: center;
    margin-top: 10px;
    height: 70px;
    text-align: center;
    color: white;
  }

  .countLevel {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 30px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: none;
    color: white;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
}

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .celeste {
    background: #22a6b3;
  }

  .celeste.light {
    background: #7ed6df;
  }

  .violeta {
    background: #be2edd;
  }

  .violeta.light {
    background: #e056fd;
  }

  .naranja {
    background: #f0932b;
  }

  .naranja.light {
    background: #ffbe76;
  }

  .verde {
    background: #6ab04c;
  }

  .verde.light {
    background: #badc58;
  }

  .btn-start {
    width: 300px;
    height: 100px;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    color: white;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 90px);
    left: calc(50% - 150px);
    border: none;
    border-radius: 20px;
    font-family: 'Piedra', cursive;
    font-size: 70px;
  }

  .hide {
    display: none;
  }  


  