body {
    margin: 0px;
    background-color: #21C08B;
    font-family: 'Muli', sans-serif;
    overflow-y: hidden;
}
.header {
    background-color: #21C08B;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu {
    margin-right: 30px;

}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px 14px;
}
.header__menu:hover ul, ul:hover{
    display: block;
}
.header__menu li{
    margin: 10px 10px;
}
.header__menu li a{
    color: white;
    text-decoration: none;
}
.header__menu li a:hover{
    text-decoration: underline;
    color: aqua;
}
.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu--profile img {
    margin-right: 8px;
    width: 60px;
}
.header__menu--profile p {
    margin-right: 0px;
    color: white;
}
.searcher {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;                
}          
.search_title {
    font-size: 25px;
    color: white;                    
}
.input {                      
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 2px solid white;
    opacity: 0.5;
    border-radius: 25px;
    width: 70%;
    padding: 0px 30px;
    height: 50px;
    font-size: 18px;
    font-family: 'Muli', sans-serif;                            
}
.carousel {
display: flex;
justify-content: center;
width: 100%;
overflow: scroll;
padding: 30px;
position: relative;
}
.carousel__container {                
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 5px;
}
.carousel-item {
    background-color: blue;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    margin-right: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;            
}
.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
}
.carousel-item__image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-family: 'Muli', sans-serif;
    font-size: 10px;
    color: white;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px; 
    position: absolute;
    top: 120px;
    left: 0px;
    right: 0;
    bottom: 0;
}
.carousel-item__details--title , .carousel-item__details--subtitle {
    margin-top: 3px;
    margin-bottom: 3px;            
}
.carousel-item__details:hover {
    opacity: 1;
}
::-webkit-scrollbar {
    display: none;
}     